---
import Layout from '@layouts/Layout.astro';
import ImageConverter from '@components/react/ImageConverter/index';
import Section from '@components/Section.astro';
---

<Layout title="Image Converter"><h1>Work in progress...</h1>
  <Section title="" name="image-converter">
    <div class="w-full">
      <ImageConverter client:visible />    
    </div>
  </Section>

</Layout>
