---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import ContactForm from '../components/react/ContactForm';
---

<Layout title="Contact">
  <h1>Work in progress...</h1>

  <Section title="Contact Form" name="contact-form">
    <div class="w-full">
      <ContactForm client:visible />
    </div>
  </Section>
</Layout>

<script
  src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onloadTurnstileCallback"
  defer></script>
