---
interface Props {
  href: string;
  isActive?: boolean;
  itemsAlign?: 'start' | 'center' | 'end';
}

const { href, isActive, itemsAlign } = Astro.props;
let finalItemsAlign = itemsAlign;
if (itemsAlign === undefined) finalItemsAlign = 'center';
---

<a
  class:list={[
    {
      'bg-indigo-900 text-white block': isActive,
      'text-indigo-300 hover:bg-indigo-700 hover:text-white  block': !isActive,
    },
    'z-5 text-base font-medium rounded-full px-3 py-2 text-center flex',
    { 'items-start justify-start': finalItemsAlign === 'start' },
    { 'items-center justify-center': finalItemsAlign === 'center' },
    { 'items-end justify-end': finalItemsAlign === 'end' },
    'hover:md:rotate-3 hover:md:scale-110 hover:drop-shadow-lg transition-all duration-300 ease-in-out hover:z-10',
  ]}
  href={href}
  target="_self"
>
  <slot name="before" />
  <slot />
  <slot name="after" />
</a>
