---
import { Image } from 'astro:assets';

import Headerbutton from '@components/Headerbutton.astro';

import githubImage from '@images/badges/github.svg';
import linkedinImage from '@images/badges/linkedin.svg';
---

<div class="flex space-x-4 items-center justify-center">
  <Headerbutton
    href="https://github.com/cjguajardo"
    itemsAlign="start"
    transition:name="social-github"
    transition:animate="slide"
  >
    <Image slot="before" src={githubImage} alt="Github" class="w-5 h-5" />
    &nbsp;Github
  </Headerbutton>
  <Headerbutton
    href="https://linkedin.com/in/cjguajardo"
    itemsAlign="start"
    transition:name="social-linkedin"
    transition:animate="slide"
  >
    <Image
      slot="before"
      src={linkedinImage}
      alt="Linkedin"
      class="w-5 h-5"
    />&nbsp;Linkedin
  </Headerbutton>
</div>
