---
import Section from '@components/Section.astro';
import ContactForm from '@components/react/ContactForm';
---

<Section title="Contact Form" name="contact-form">
  <div class="w-full">
    <ContactForm client:visible />
  </div>
</Section>
