---
import { ViewTransitions } from "astro:transitions";
import Title from "@components/Title.astro";
import Footer from "@components/Footer.astro";
import Bg from "../images/background.webp";
interface Props {
    title: string;
    hidePageTitle?: boolean;
}

const { title, hidePageTitle } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="fade">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Page not found - The page you are looking for could not be found on cgcapps.cl"
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="author" content="Carlos Guajardo" />
        <meta name="robots" content="noindex, nofollow" />
        <title>{title} - Carlos Guajardo | CGCApps</title>
        <ViewTransitions fallback="none" />
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body
        class="dark:bg-indigo-950/60 bg-blend-multiply min-h-screen flex flex-col overflow-x-hidden"
    >
        <main
            class="mx-auto md:max-w-7xl px-4 pb-8 flex items-center flex-col pt-12 md:pt-12 z-10 overflow-x-hidden flex-1 w-full"
        >
            {!hidePageTitle && <Title text={title} />}
            <slot />
        </main>
        <Footer />

        <style is:global define:vars={{ bgImage: `url(${Bg.src})` }}>
            html {
                scroll-behavior: smooth;
                font-family: system-ui, sans-serif;
                background-image: var(--bgImage);
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                color-scheme: dark light;
                width: 100vw;
                height: 100vh;
            }
        </style>
    </body>
</html>
